<h1>ユーザー詳細</h1>

<%= @user.nickname %>
<%= @user.email %>
<h1>投稿イラスト一覧</h1>
<% @images.each do |image| %>
  <div class="picture_box">
    <%= image_tag image.picture.variant(resize: '300x200') %>
  </div>
<% end %>
