<div class="selected-month", id="selected-month">
  <div class="picture-selected", id="picture1-select">
    <p>picture1:　</p>
  </div>
  <div class="picture-selected", id="picture2-select">
    <p>picture2:　</p>
  </div>
  <div class="picture-selected", id="picture3-select">
    <p>picture3:　</p>
  </div>
  <div class="picture-selected", id="picture4-select">
    <p>picture4:　</p>
  </div>
  <div class="picture-selected", id="picture5-select">
    <p>picture5:　</p>
  </div>
  <div class="picture-selected", id="picture6-select">
    <p>picture6:　</p>
  </div>
  <div class="picture-selected", id="picture7-select">
    <p>picture7:　</p>
  </div>
  <div class="picture-selected", id="picture8-select">
    <p>picture8:　</p>
  </div>
  <div class="picture-selected", id="picture9-select">
    <p>picture9:　</p>
  </div>
  <div class="picture-selected", id="picture10-select">
    <p>picture10:　</p>
  </div>
  <div class="picture-selected", id="picture11-select">
    <p>picture11:　</p>
  </div>
  <div class="picture-selected", id="picture12-select">
    <p>picture12:　</p>
  </div>
</div>