<div class="main">
  <p class="title">＜カレンダー作成画面＞</p>
  <div class="make-calendar">
    <% @images.each do |image| %>
      <div class="calendar-picture">
        <%= image_tag image.picture, class:"picture-box" %>
      </div>
    <% end %>
  </div>
  <%= render "monthselect"%>
</div>
