.make-calendar{
  height: 500px;
  width: 4500px;
  background-color: khaki;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.calendar{
  width: 330px;
  height: 250px;
  border: 1px solid darkgreen;
  background-color: white;
}
.calendar-picture{
  background-color: white;
  width: 330px;
  height: 220px;
  border: 1px solid darkgreen;
}
.calendar-month{
  width: 100%;
  height: 30px;
  text-align: center;
}
