.cart-title{
  width: 90%;
  font-size: 24px;
  color: darkolivegreen;
  margin: 20px auto 0;
}
.cart-pictures{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
.cart-image-picture{
  width: 330px;
  height: 220px;
  margin: 10px 45px 0;
  border: 1px solid darkgreen;
}
.bottom-data{
  display: flex;
  justify-content: space-between;
}
.delete-btn{
border: 1px solid darkgreen;
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: ivory;

}
.cart-bottom-menu{
  display: flex;
  justify-content: space-between;
}
.cart-menu{
  width: 100%;
  height: 80px;
  background-color: khaki;
  position: fixed;
  bottom: 30px;
}
.cart-menu-box{
  width: 550px;
  height: 40px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.images-count{
  width: 300px;
  font-size: 24px;
  margin: auto 30px;
  color: darkolivegreen;
}