.devise-title{
  width: 50%;
  height: 30px;
  margin: 20px auto;
  font-size: 24px;
  color: darkolivegreen;
}
.devise-form{
  width: 50%;
  padding: 20px 0 20px 70px;
  margin: 0 auto;
  border: 5px solid khaki;
  color: darkolivegreen;
}
.devise-signup-form{
  width: 50%;
  padding: 20px 0 20px 70px;
  margin: 0 auto;
  border: 5px solid khaki;
}
.change-password-form{
  width: 50%;
  padding: 20px 0 20px 70px;
  margin: 0 auto;
  border: 5px solid khaki;
}
.change-userdata-form{
  width: 50%;
  padding: 20px 0 20px 70px;
  margin: 0 auto;
  border: 5px solid khaki;
}
.field{
  margin: 30px 0;
  color: darkolivegreen;
}
.short-box{
  width: 180px;
}
.long-box{
  width: 60%;
}
.text-box{
  width: 60%;
  height: 80px;
}
.icon-field{
  margin: 30px 0;
  display: flex;
  justify-content: left;
  color: darkolivegreen;
}
.icon-preview{
  width: 100px;
  height: 100px;
  margin-left: 70px;
}
.devise-btn{
  width: 100px;
  height: 30px;
  color: darkolivegreen;
  border: 1px solid darkolivegreen;
  background-color: ivory;
  margin-left: 150px;
  margin-bottom: 50px;
}
.change-password-btn{
  width: 200px;
  height: 30px;
  color: darkolivegreen;
  border: 1px solid darkolivegreen;
  background-color: ivory;
  margin-left: 150px;
  margin-bottom: 50px;
  margin-top: 40px;
}
.devise-link{
  color: darkolivegreen;
  text-decoration: none;
}
.devise-bottom-menu{
  width: 80%;
  display: flex;
  margin: 10px auto;
  justify-content: space-between;
  align-items: center;
}
.user-login-method{
  display: flex;
  width: 50%;
  padding: 10px 0 10px 70px;
  margin: 10px auto;
  border: 5px solid khaki;
}
.login-icon{
  height: 40px;
  width: 40px;
  margin-left: 30px;
}
.login-method{
  font-size: 20px;
  color: darkolivegreen;
}