
/*アプリ概要*/
.app_info{
  width: 90%;
  margin:10px auto;
  height: 150px;
  background-color: tomato;
}
/*投稿イラスト*/
.picture_posts{
  display: flex;
  justify-content: right;
}

/*各投稿イラスト*/
.content_box{
  height: 270px;
  width: 350px;
  padding: 0 auto ;
  margin-left: 30px;
  border: 1px solid green;
  display: block;
  background-color: ivory;

}

/*Picture*/
.picture_box{
  height: 220px;
  width: 330px;
  background-color: white;
  margin: 5px auto ;
}
/*User-info*/
.user_info_box{
  border-top: 1px solid green;
  height: 40px;
}
.user_info_box a{
  text-decoration: none;
}
.bottom-menu{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 90px;
  width: 200px;
  background-color: khaki;
  padding: 0 20px;
}
.image-post-link,
.cart-inside{
  width: 80px;
  height: 80px;
  text-align: center;
  background-color: white;
  border-radius:10px;
  font-size: 12px;
  color: darkgreen;
}
.post-icon{
  width: 50px;
  height: 50px;
}

.cart-icon{
  height: 50px;
  width: 50px;
}
