/*ページ全体*/
.page{
  display: flex;
  flex-direction: column;
  width: 100vw;
}
/*ヘッダー*/
.header{
  height: 60px;
  background-color: #FFCC66;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a{
  text-decoration: none;
}
/*ロゴ*/
.logo{
  width: 180px;
  background-color: #FFCC66;
  color: white;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  text-shadow: 1px 0px 0 green,
  0 1px 0 green,
  -1px 0 0 green,
  0 -1px 0 green;
  font-family: 'Poppins', sans-serif;
}


/*ユーザー 管理ボタンまとめ*/
.user_button{
  width: 220px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/*各ユーザー管理ボタン*/
.user_btn{
  width: 100px;
  height: 40px;
  text-align: center;
  border-radius:10px;
  border: 1px solid green;
  padding-top: 10px;
  background-color: lightyellow;
}
.user_btn a{
  color: #556B2F;
  font-size: 15px;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}


/*フッダー*/
.footer{
  height: 50px;
  background-color: lightseagreen;
}