/*ページ全体*/
.page{
  display: flex;
  flex-direction: column;
  width: 100vw;
}
/*ヘッダー*/
.header{
  height: 60px;
  width: 100%;
  background-color: #FFCC66;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px

}
.header a{
  text-decoration: none;
}
/*ロゴ*/
.logo{
  width: 180px;
  color: white;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  text-shadow: 1px 0px 0 green,
  0 1px 0 green,
  -1px 0 0 green,
  0 -1px 0 green;
  font-family: 'Poppins', sans-serif;
}


/*ユーザー 管理ボタンまとめ*/
.user_button{
  width: 300px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: relative;
  margin-right: 30px;
}

/*各ユーザー管理ボタン*/
.username_btn,
.user_btn{
  height: 40px;
  text-align: center;
  border-radius:10px;
  border: 1px solid green;
  padding-top: 10px;
  background-color: lightyellow;
}
.user_btn{
  width: 100px;
}
.username_btn{
  width: 180px;
}
.username_btn a,
.user_btn a{
  color: #556B2F;
  font-size: 15px;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}
.menu-list{
  width: 130px;
  height: 60px;
  border: 1px solid #00552e;
  background-color: white;
  position: absolute;
  top: 70px;
  left: 200px;
  border-radius:5px;
  text-align: center;
  font-size: 18px;
  display: none;
}
.menu-list li{
  list-style: none;
}
.menu-list a{
  color: #00552e;
}
.logout,
.mypage
.cart-inside{
  height: 30px;
}

.logout{
  border-bottom: 1px solid #00552e;
}
.main{
  margin-top: 100px;
  margin-bottom: 40px;
  height: calc(100vh - 100px - 30px);
  background-color: white;
  overflow: scroll;
}
.title{
  font-size: 24px;
  position: fixed;
  top: 100px;
  left: 20px;
}
.footer{
  height: 30px;
  width: 100%;
  background-color: lightseagreen;
  position: fixed;
  bottom: 0;
}