<div class="page">
  
  <div class= "main">
    <div class="app_info">
      アプリ概要
    </div>
    <%= link_to "投稿", new_image_path, class:"image_post"%>
    
  <h1>新着順</h1>
  <div class="picture_posts">
  <% @images.each do |image| %>
    <div class="content_box">
      <div class="picture_box">
        <%= link_to (image_tag image.picture.variant(resize: '330x220')), image_path(image.id)%>
      </div>
      <div class="user_info_box">
        <%= link_to image.user.nickname, user_path(image.user.id) %>
        <% image.tags.each do |tag|%>
          <%= "##{tag.name}" %>
        <% end%>
      </div>
    </div>
  <% end %>
  </div>
  
  </div>
  <div class= "footer"></div>
</div>