<div class="main">
  <p class="title">投稿するときの注意点</p>
  <div class="post-notice-main">
    <div class="notice-left-content">
      <p>①カレンダーイラストのサイズについて</p>
      <p>カレンダーは右のサイズで作られます。</p>
      <p>イラスト部分はB4サイズ（257×364）となりますので、こちらの比率に合わせて投稿ください。</p>
      <p>※規定の比率でない場合、B4サイズにイラストが引き伸ばしがされてしまいます。</p>
      <p class="notice-subtitle">②投稿イラストについて</p>
      <p>他の人の著作物は投稿はしないようお気をつけください。</p>
    </div>
    <div class="notice-right-content">
      <%= image_tag 'calendar-size',class:"calendar-size" %>
    </div>
  </div>
</div>